/* General */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    margin-top: 4em;
    width: 70%;
    display: flex;
    justify-content: space-between;
   /* align-items: center;*/
}

.leftPanel, .rightPanel {
    width: 40%;
}

.leftPanel, .rightPanel form{
    padding: 2em;
    border-radius: 10px;
    background-color: var(--color4);
}

.rightPanel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.rightPanel form{
    position : fixed;
    width: 30%;
}

.user{
    padding: 1.5em;
    border-top: 1px solid var(--color1);
    border-bottom: 1px solid var(--color1);
}

.user label{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color1);
}

.user input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.user form{
    margin: 0;
}