:root{
    --color1: #181a1a;
    --color2: #444554;
    --color3: #34b151;
    --color4: #e6e0dd;
    --color5: #141616;

    --error: #982e2e;
    --success: #3f9854;
}

*{
    font-family: "Roboto", sans-serif;
}

/* HTML */

html, body{
    margin: 0;
}

/* NOTIFICATION */
.notificationContainer{
    position: fixed;
    top: 3em;
    right: 1em;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

/* HEADER */

header{
    width: 100%;
    height: 2.5em;
    background-color: var(--color5);
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 99999999;
}

nav{
    width: 40%;
    display: flex;
}

nav a{
    margin-left: 10px;
    margin-right: 10px;

    color: var(--color4);
    outline: none;
    text-decoration: none;
}

header .title{
    width: 60%;
}
header .title p{
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

/* CONTENT*/

body{
    background-color: var(--color1);
    color: var(--color4);
    /*
    display: flex;
    flex-direction: column;
    */
    display: flex;
    flex-direction: column;
  }

.slide{
    opacity: 0;
    transform: translateY(-10%); /* Position hors de l'écran (en haut) */
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.slide.show{ 
    opacity: 1;
    transform: translateY(0); /* Amène la div à sa position normale */
}

/* Classe de base pour tous les champs de formulaire */
.formField {
    width: 100%;
    padding: 4%;
    border-radius: 10px;
    margin-bottom: 1%;
    outline: none;
    border: 2px solid var(--color4);
    box-sizing: border-box;
}

/* Styles pour les interactions (hover et focus) */
.formField:hover, .formField:focus {
    border: 2px solid var(--color3);
}

/* Styles spécifiques aux inputs */
.inputStyle {
    background-color: white; /* Optionnel si applicable */
}

/* Styles spécifiques aux selects */
.selectStyle {
    background-color: white;
}

/* Styles spécifiques aux textareas */
.textareaStyle {
    max-width: 100%;
}

/* Styles pour le bouton de soumission */
.submitStyle{
    padding: 1%;
    box-sizing: border-box;
    background-color: var(--color3);
    border: 2px solid var(--color3);
    border-radius: 5px;
    color: white;
}

.submitStyle:hover{
    background-color: var(--color4);
    color: black;
    border: 2px solid var(--color3);
}

/* Animation */

.ts-anim{
    text-decoration: none;
    position: relative;
    color: var(--color4);
  }
  
  .ts-anim::after {
    content: '';
    position: absolute;
    left: 0; /* Position du soulignement */
    bottom: -2px; /* Position du soulignement */
    width: 0;
    height: 2px; /* Hauteur du soulignement */
    background-color: var(--color4); /* Couleur du soulignement */
    transition: width 0.3s ease;
  }
  
  .ts-anim:hover::after {
    width: 100%;
  }

  @media screen and (max-width: 1350px) {
    header nav{
        width: 100%;
    }

    header .title{
        display: none;
    }
}

  @media screen and (max-width: 530px) {

    .main{
        margin-top: 0px !important;
    }

    .accountContainer{
        width: 100% !important;
    }
  }