* {
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--color1);
}

.title{
    font-size: 2em;
    color : var(--color4);
}

form{
    width: 35em;
    
    display: flex;
    flex-direction: column;
    gap:1em;

    margin-top : 1em;
}

input{
    width: 100%;
    font-size: 1.2em;
}

.input{
    padding:0.5em;

    background-color: var(--color4);
    border: 4px solid var(--color4);
    border-radius: 10px;
}

.input:Focus{
    outline: none;
    border: 4px solid var(--color3);
}

.button{
    padding:0.4em;

    color:var(--color4);
    background-color: var(--color3);
    border-radius: 10px;
    border: 4px solid var(--color3);
}

.button:hover{
    cursor: pointer;
    background-color: var(--color4);
    border: 4px solid var(--color3);
    color: var(--color1);
}

.passwordLink{
    color : var(--color4);
}


@media screen and (max-width: 500px) {
    form{
        width: 100%;
    }
  }