/* General */

html, body {
    margin: 0;
}

body {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
}

.main{
    width: 100%; /* S'assure que la page occupe tout l'espace horizontal */
    height: 100vh; /* S'assure que la page occupe toute la hauteur */

    display: flex;
    justify-content: center;
    align-items: center;
}

.main .mainContainer{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .mainContainer div{
    width: 100%;
    display: flex;
}

.passwordContainer{
    justify-content: space-between;
    align-items: center;
}

.passwordContainer input{
    justify-content: space-between;
    font-size: 150% !important;
    width: 85%;
    text-align: center;
}

.passwordContainer svg{
    width: 2em;
    cursor: pointer;
}

.passwordContainer path{
    stroke: var(--color4);
}

.passwordContainer svg:hover path{
    stroke: var(--color3);
}

.sliderContainer{
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}

.sliderContainer input{
    width: 85%;
}

/* Responsive */

@media screen and (max-width: 1000px) {
    .mainContainer{
        width: 95% !important;
    }
  }