.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main form{
    width: 25%;
    height: fit-content;
    padding: 2em;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color4);
}

.main form label{
    color: var(--color1);
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
}